:root {
  // main colors
  --clr-highlight: #ff50ff;
  --purple-dark: #7b56ff;
  --clr-highlight-secondary: #df94ff;
  --clr-secondary-alt: #b994ff;
  --highlight-dark: #960096;
  --purple-main: #9494ff;
  --purple: #8694e8;
  --purple-light: #a0b2f3;
  --blue-dark: #94b9ff;
  --blue-dark: #94bfff;
  --blue: #64b4fa;
  --blue-alt: #81a9e4;
  --lightblue: #9cd9ff;
  --blue: #00b1ff;
  // others

  --old-functions: #00dcdc;

  //new colors?
  --gold: #fcce9e;
  --gold-dark: #ffbe79;
  --purple: #a561ff;
  --purple-alt: #845ec2;
  --pink: #b34180;
  --pink: #fd72ad;
  --pink-500: #e36bae;
  --pink-100: #f8a1d1;
  --blue-100: #cfe3ff;
  --purple-100: #d2d1ff;

  --um: #f8f8c3;
  --um: #dac3f8;
  --um: hsl(241, 79%, 87%);
  --um2: #b5b3f7;
  --um: #c3e0f8;
  --um2: #a8d2f4;
  --um: #d0edcf;
  --blue: #64dfdf;
  --teal-blue: #719fb0;
  --green: #80ffdb;

  --um: #e0b96b;
  --um: #e7ca8d;
  --um: #e0a93d;
  --um: #d39033;
  --this: #ffb482;
  --svelte: #ffb894;
  --some: #ffad94;

  --add: #9dda9a;
  --add: #a1d884;
  --mmm: #aae682;
  --add2: #6eb450;

  --htmlOrange: #f9826c;
  --some-alt: #fba798;
  --conflict: #f05050;
  --conflict2: #ff5722;
  --svelteOG: #ff7e57;

  /* darks */
  --background: #1b1b1b;
  --background: #161616;
  --two: #242424;
  --border: #2e2e2e;

  // lights
  --ignore: #3e3e3e;
  --one: #3d3d3d;
  --yea: #525252;
  --hum: #9d9d9d;
  --lightgrey: #cecece;

  // text colors
}

//notes:

/* 
  "meta.embedded.block.svelte", // effects sass var: value colors?

 */
