:root {
  // main colors
  --clr-highlight: #ff50ff;
  --highlight-dark: #960096;
  --purple: #8694e8;
  --purple-light: #748fee;
  --blue: #64b4fa;
  --lightblue: #9cd9ff;

  // others
  --mmm: #dc8cff;

  --functions: #00dcdc;
  --this: #00b1ff;

  --um: #e0b96b;
  --um: #e7ca8d;
  --um: #e0a93d;
  --um: #d39033;
  --add: #a1d884;
  --add2: #6eb450;
  --this: #d88282;
  --this: #ffb482;
  --conflict: #f05050;

  /* darks */
  --background: #1b1b1b;
  --background: #161616;
  --two: #242424;
  --border: #2e2e2e;

  // lights
  --ignore: #3e3e3e;
  --one: #3d3d3d;
  --yea: #525252;
  --hum: #9d9d9d;
  --lightgrey: #cecece;

  // text colors
}
