@import "fonts";

:root {
  --clr: #000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

element {
  color: var(--clr);
}

.someClass {
  font-family: serif !important;
  font-size: 1rem;
  cursor: pointer;
}

#someID {
  width: auto;
  background: yellow;
  cursor: auto;
}

p > p {
  height: 100px;
}

p:nth-child(2n) {
  margin-left: -10px;
}

@media (max-width: 640px) {
  .someClass {
    height: 50%;
    color: #000;
  }
}
