<!DOCTYPE html>
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document

  body

    header
      nav
        ul.nav-header
          li
            a.btn(href="http://")

    extends ../header.pug
    include ../header.pug

    block content

    main#main-home

      h1.headline Pug Rox
        p.class-selector

    footer
      ul
        li
          a(href="")

  script(defer src="./scripts/js/*.js")
  script
    -const var = 420
    -if(var !== 420) {
      console.log('missed it')
    }
