<!DOCTYPE html>
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document

  body
    -let var = 4
    main#id-selector
    h1 Pug
    .class-selector
      while var > 0
        ul
          li
            a(href="")
      -var--
