//- //< Sassy settings
$minWidthSml: 420px;
:root {
  --clr: #fff;
}

#someId::after {
  content: "";
  grid-area: testarea;
}

.new-class {
  @media (max-width: $minWidthSml) {
  }
}
.some-class {
  &-sub {
    background-color: var(--clr);
  }

  &--bem {
    margin: 0 auto;
  }

  &__another {
    color: var(--color);
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
