//- //< Sassy settings
$minWidthLg: 1000px;
$minWidthMed: 800px;
$minWidthSml: 420px;

.some-class {
  p {
    margin: 0;
  }

  &-sub {
    padding: 0;
  }

  &__another {
    color: var(--color);
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
